.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
core/.build
.env
node/node_modules
node/dist
node/backend/node_modules
node/web/node_modules
node/backend/logs
node/term/node_modules
node/term/dist
